<p>Your subscription has been cancelled. You'll continue to have access to your current plan features until the end of your billing period.</p>
<p>After that, your account will revert to the Free plan. Your data and configurations will be preserved.</p>
<p>You can resubscribe at any time from your Settings page.</p>